{{ if eq .Type "post" }} {{ with .Site.Params.disqus }}
<div class="row">
    <div class="col-md-12 content-card">
        <h2>Your 2 cents</h2>
        <div id="disqusCommentBoxOverlay" class="disqusComments">
            <div id="disqus_thread"></div>
        </div>
        <script async defer>
            (function () {
                if (window.location.hostname == "localhost") {
                    document.write("Disqus comments are unavailable while serving on localhost or 127.0.0.1");
                    return;
                }

                var protocolAndPath = [location.protocol, '//', location.host, location.pathname].join('');
                protocolAndPath = protocolAndPath[0] === '/' ? protocolAndPath.substr(1) : protocolAndPath;
                var disqus_url = protocolAndPath;
                var path = window.location.pathname;
                path = path[0] === '/' ? path.substr(1) : path;
                var disqus_identifier = path;
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                var disqus_shortname = '{{ . }}';
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        <br />
        <button id="btnOrganizeDisqusContent" class="btn btn-custom btn-comments">All Comments</button>
    </div>
</div>
{{ end }} {{ end }}