<div class="row">
    <div class="col-md-12 content-card">
        <h1>{{ .Title }}</h1>
        <hr />
        <h2>Author & Contributer</h2>
        <div class="row">
            <div class="col-sm-6 col-margin">
                <a href="http://amazon.com/dp/1787121143" target="_blank">
                    <img src="https://cdn.rahulrai.in/media/Microservices With Azure.jpg" alt="Microservices with Azure" />
                </a>
            </div>
            <div class="col-sm-6 col-margin">
                <a href="https://www.amazon.com/gp/product/1621140369" target="_blank">
                    <img src="https://cdn.rahulrai.in/media/Cloud Design Patterns.jpg" alt="Cloud Design Patterns" />
                </a>
            </div>
        </div>
        <br />
        <h2>Reviewer</h2>
        <div class="row">
            <div class="col-sm-6 col-margin">
                <a href="https://www.amazon.com/dp/1449319777" target="_blank">
                    <img src="https://cdn.rahulrai.in/media/Cloud Architecture Patterns.jpg" alt="Cloud Architecture Patterns" />
                </a>
            </div>
            <div class="col-sm-6 col-margin text-center">
                <a href="https://www.packtpub.com/application-development/understanding-azure-logic-apps-video" target="_blank">
                    <img src="https://cdn.rahulrai.in/media/LogicApps Video.png" alt="LogicApps Video" />
                </a>
                <br />
                <b>Understanding Azure Logic Apps</b>
            </div>
        </div>
    </div>
</div>