<div class="row">
    <div class="col-md-12 content-card">
        <h1>{{ .Title }}</h1>
        <hr />
        <div class="row">
            <h2>Kubernetes Succinctly (Author)</h2>
            <div class="col-sm-6">
                <a href="https://microserviceswithazure.com" target="_blank">
                    <img src="/media/kubernetes succinctly.png" alt="Kubernetes Succinctly" />
                </a>
            </div>
            <div class="col-sm-12">
                <h3>About this book</h3>
                <p>
                    <ul>
                        <li>Explore architectural patterns for building modern day Microservice-based systems</li>
                        <li>Learn about Microsoft Service Fabric as a platform to host distributed Microservices</li>
                        <li>Discover multiple options for hosting Microservices on heterogeneous, cross-platform
                            environments
                        </li>
                        <li>Learn to configure Azure Service Fabric clusters for enterprise-grade service deployments
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <h2>Microservices with Azure (Author)</h2>
            <div class="col-sm-6">
                <a href="https://microserviceswithazure.com" target="_blank">
                    <img src="/media/Microservices With Azure.jpg" alt="Microservices with Azure" />
                </a>
            </div>
            <div class="col-sm-12">
                <h3>About this book</h3>
                <p>
                    <ul>
                        <li>Explore architectural patterns for building modern day Microservice-based systems</li>
                        <li>Learn about Microsoft Service Fabric as a platform to host distributed Microservices</li>
                        <li>Discover multiple options for hosting Microservices on heterogeneous, cross-platform
                            environments
                        </li>
                        <li>Learn to configure Azure Service Fabric clusters for enterprise-grade service deployments
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <h2>Cloud Design Patterns (Community Contributor)</h2>
            <div class="col-sm-6">
                <a href="https://www.amazon.com/gp/product/1621140369" target="_blank">
                    <img src="/media/Cloud Design Patterns.jpg" alt="Cloud Design Patterns" />
                </a>
            </div>
            <div class="col-sm-12">
                <h3>About this book</h3>
                <p>
                    This guide demonstrates design patterns that can help you to solve the problems you might encounter
                    in many different
                    areas of cloud application development. Each pattern discusses design considerations, and explains
                    how you can implement
                    it using the features of Windows Azure. The patterns are grouped into categories: availability, data
                    management, design
                    and implementation, messaging, performance and scalability, resilience, management and monitoring,
                    and security.
                </p>
            </div>
        </div>
    </div>
</div>