{{ range $.Site.Data.profile.testimonials }}
<div class="container content">
    <div class="row">
        <div class="col-sm-7">
            <div class="testimonial">
                {{if (eq .isFeatured true)}}
                <div class="featured text-right">
                    <i class="glyphicon glyphicon-star" data-toggle="tooltip" title="Featured"></i>
                </div>
                {{ end }} {{ .testimonial }}
            </div>
            <div class="arrow-down"></div>
            <div class="container-fluid content">
                <div class="row">
                    <div class="col-sm-9 pull-left">
                        <p class="testimonial-author">{{ .fullName }} <span class="testimonials-post">
                     {{ if (not (eq .title "")) }}
                     <span>{{ .title }},</span> {{ end }} {{ .organization }}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}