<div class="row">
    <div class="col-md-12 content-card">
        <h1>{{ .Title }}</h1>
        <div class="container-fluid text-center">
            <div class="row text-center">
                <div class="col-xs-3 text-center" id="link_other">
                    {{ with .Site.Social.facebook }}
                    <a target="_blank" href="{{ . }}" class="inlineDisplay"><img src="{{ $.Site.Params.resourcesbaseurl }}/128/fb.png" alt="facebook" class="img-responsive" /></a>
                    {{ end }}
                </div>
                <div class="col-xs-3 text-center" id="link_other">
                    {{ with .Site.Social.linkedin }}
                    <a target="_blank" href="{{ . }}" class="inlineDisplay"><img src="{{ $.Site.Params.resourcesbaseurl }}/128/linkedin.png" alt="linkedin" class="img-responsive" /></a>
                    {{ end }}
                </div>
                <div class="col-xs-3 text-center">
                    {{ with .Site.Social.email }}
                    <a target="_blank" href="{{ . }}" class="inlineDisplay"><img src="{{ $.Site.Params.resourcesbaseurl }}/128/email.png" alt="email" class="img-responsive" data-toggle="tooltip" title="{{ . }}" /></a>
                    {{ end }}
                </div>
                <div class="col-xs-3 text-center">
                    {{ with .Site.Social.skype }}
                    <a target="_blank" href="skype:{{ . }}" class="inlineDisplay"><img src="{{ $.Site.Params.resourcesbaseurl }}/128/skype.png" alt="skype" class="img-responsive" /></a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>