<div class="col-md-10 col-xs-10 text-right">
    <div class="row">
        {{ with .Site.Social.twitter }}
        &nbsp;<a target="_blank" href="{{ . }}" class="inlineDisplay"><span class="fa fa-twitter little-padding text-primary fa-2x"></span></a>
        {{ end }}
        {{ with .Site.Social.linkedin }}
        &nbsp;<a target="_blank" href="{{ . }}" class="inlineDisplay"><span class="fa  fa-linkedin little-padding text-primary fa-2x"></span></a>
        {{ end }}
        {{ with .Site.Social.msdn }}
        &nbsp;<a target="_blank" href="{{ . }}" class="inlineDisplay"><span class="fa  fa-windows little-padding text-primary fa-2x"></span></a>
        {{ end }}
        {{ with .Site.Social.github }}
        &nbsp;<a target="_blank" href="{{ . }}" class="inlineDisplay"><span class="fa  fa-github little-padding text-primary fa-2x"></span></a>
        {{ end }}
        {{ with .Site.Social.email }}
        &nbsp;<a target="_blank" href="{{ . }}" class="inlineDisplay"><span class="fa  fa-envelope little-padding text-primary fa-2x"></span></a>
        {{ end }}
    </div>
</div>
