<div class="row">
    <div class="col-xs-12">
        <figure>
            <a href="{{ .Site.Params.contentbaseurl }}{{ .Get "src" }}" target="_blank">
                <img src="{{ .Site.Params.contentbaseurl }}{{ .Get "src" }}" alt="{{ .Get "alt" }}" title="{{ .Get "alt" }}" style="border: 1px solid black; width: 60%!important; height: 60%;display: block;margin-left: auto;margin-right: auto;" />
            </a>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <b>{{ .Get "alt" }}</b> - <a href="{{ .Site.Params.contentbaseurl }}{{ .Get "src" }}" target="_blank"><i class="glyphicon glyphicon-zoom-in"></i> Full Image</a>
    </div>
</div>