<div class="row">
    <div class="col-md-11 col-md-offset-1 card">
        <div class="row">
            <div class="col-xs-7">
                <h5>Categories</h5>
            </div>
            <div class="col-xs-5 text-right">
                <a href="/categories"><span class="glyphicon btn-glyphicon glyphicon-folder-open img-circle text-primary"></span></a>
                <span style="padding-left: 10px">
                    <a href="/tags"><span class="glyphicon btn-glyphicon glyphicon-tags img-circle text-primary"></span></a>
                </span>
            </div>
        </div>
        <div id="categoryChart" style="width: 100%;height: 300px;"></div>
        <script async defer type="text/javascript">
            var chartArray = [['Category', 'Number of Posts'],{{ range $name, $items := .Site.Taxonomies.categories }}['{{ $name }}',{{ len $items }}],{{ end }}];
            drawChart(chartArray);
        </script>
    </div>
</div>