<div class="row">
    <div class="col-md-11 col-md-offset-1 card">
        <h5>FEATURED</h5>
        <div id="notifications"></div>
        <div class="row">
            <div class="col-xs-2 middle">
                <a target="_blank" href="http://amazon.com/dp/1787121143"><i class="fa fa-bookmark-o fa-3x"></i></a>
            </div>
            <div class="col-xs-10 top">
                <b>Microservices with Azure</b> now available on <a href="http://amazon.com/dp/1787121143">Amazon</a>.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 middle">
                <a target="_blank" href="https://www.linkedin.com/groups/Azure-Service-Fabric-User-Forum-8526708/about"><i class="fa fa-linkedin-square fa-3x"></i></a>
            </div>
            <div class="col-xs-10 top">
                Connect with <b>Azure Service Fabric</b> experts and developers on <a href="https://www.linkedin.com/groups/Azure-Service-Fabric-User-Forum-8526708/about">LinkedIn</a>.
            </div>
        </div>
    </div>
</div>