<div class="row">
    <div class="col-md-11 col-md-offset-1 card">
        <div class="profile-userpic">
            <a href="/profile"><img src="{{ .Site.Params.resourcesbaseurl }}/profilePicture.jpg" class="img-responsive" alt="Profile Picture" /></a>
        </div>
        <br />
        <div class="col-md-12 text-center">
            <div class="profile-usertitle-name">
                <a href="/profile"><b>Rahul Rai</b></a>
            </div>
            <div class="profile-usertitle-job">
                <p>
                    <i>Hi! I'm Rahul Rai, an author, a programmer, and a technophile. I'm a Consultant at Readify, Sydney, Australia.</i>
                </p>
                {{ with .Site.Social.linkedin }}
                <a target="_blank" href="{{ . }}"><span class="glyphicon btn-glyphicon fa fa-linkedin img-circle text-primary"></span></a>
                {{ end }}
                <span style="padding-left: 10px">
                    {{ with .Site.Social.twitter }}
                    <a target="_blank" href="{{ . }}"><span class="glyphicon btn-glyphicon fa fa-twitter img-circle text-primary"></span></a>
                    {{ end }}
                </span>
                <span style="padding-left: 10px">
                    {{ with .Site.Social.email }}
                    <a href="{{ . }}"><span class="glyphicon btn-glyphicon fa fa-envelope img-circle text-primary"></span></a>
                    {{ end }}
                </span>
                <span style="padding-left: 10px">
                    {{ with .Site.Social.skype }}
                    <a target="_blank" href="skype:{{ . }}"><span class="glyphicon btn-glyphicon fa fa-skype img-circle text-primary"></span></a>
                    {{ end }}
                </span>
            </div>
        </div>
    </div>
</div>