<div class="row">
    <div class="col-md-11 col-md-offset-1 card">
        <h5>Search</h5>
        <form id="search" method="GET" action="/search" target="_self" class="search-form">
            <div class="input-group">
                <input class="form-control" type="text" name="q" size="31" />
                <span class="input-group-btn">
                    <button class="btn btn-custom" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
    </div>
</div>
