<div class="row">
    <div id="subscribe" class="col-md-11 col-md-offset-1 card">
        <h5>GET SMARTER!</h5>
        Stay up to date with interesting posts like these. Take a moment to subscribe!
        <br />
        <br />
        <div class="text-center">
            <button id="subscribeNewsletter" class="btn btn-custom btn-block btn-span" role="button"><span>I <i class="fa fa-heart"></i>Cloud</span></button>
        </div>
    </div>
</div>
<div class="modal fade" id="subscribeNewsletterModal" tabindex="-1" role="dialog" aria-labelledby="newsletter" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <script type="text/javascript" src="//app.mailerlite.com/data/webforms/168763/o2t0g4.js?v14"></script>
            </div>
        </div>
    </div>
</div>
